.app {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #000;
}

.scroll-container {
	position: relative;
	z-index: 1;
}

.three-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}
